h1 {
	font-family : georgia, sans-serif;
	font-weight: 300;
	text-align: center;
	line-height: 1;
	font-size: 48px;
	text-shadow: 1px 1px;
}

div {
	text-align: center;
}

select{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

/* Table formatting */
table {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	margin-bottom: 5px;
}
/*Header format */
.tp_date {
	background-color: #3333ff;
	color: white;
	text-shadow: 0.5px 0.5px black;
	font-size: 16px;
	padding: 2px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.tp_info {
	font-weight: bold;
	padding: 2px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.tp_play {
	padding: 2px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.tp_play[link=true] {
	cursor: pointer;
}
.tp_play[link=true]:hover {
	background-color: rgba(0, 0, 0, 0.3);
	transition: 0.1s;
}
.tp_bye {
	background-color: #ADCDA8;	
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.tp_blackout {
	background-color: red;
}
/*striping in table rows */
tr:nth-child(even){
	background: #f2f2f2;
}
