h1 {
	font-family : georgia, sans-serif;
	font-weight: 300;
	text-align: center;
	line-height: 1;
}

.stages {
	font-size: 0;
	text-align: justify;
}

.stages:after {
	content: '';
	display: inline-block;
	font-size: 0;
	text-align: justify;
	width: 100%;
}

.formPanel[hide=true] {
	display: none;
}
.formPanel[hide=false] {
	display: block;
}
.stages[hide=true]{
  display: none;
}
.stages[hide=false]{
  display: block;
}
input[name="stage"]{
	display: none;
}

/*Push buttons */
.pushbutton {
	border-width: 0;
	cursor: pointer;
	text-align: center;
	display: block;
	font-size: 20px;
	font-family: georgia, sans-serif;
	font-weight: bold;
	color: white;
	background-color: #F76A6A;
	padding: 5px 30px;
	box-shadow: 4px 4px 0 rgba(200,200,200,0.6);
}
.pushbutton:hover {
	background-color: #CD5959;
}
.pushbutton:active{
	background-color: #CD5959;
	  box-shadow: 2px 2px #666;
	  transform: translateX(2px), translateY(2px);
}
/*next and submit buttons */
.transitionbutton {
	border-width: 0;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	font-family: georgia, sans-serif;
	font-weight: bold;
	color: white;
	background-color: #F76A6A;
	padding: 5px 30px;
	transition: all 0.5s;
	margin: 5px;
}
.transitionbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.transitionbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}
.transitionbutton:hover span {
  padding-right: 0px;
}

.transitionbutton:hover span:after {
  opacity: 1;
  right: -20px;
}
/*Settings for the label. Also controls the settings for the label Before
the one that is checked*/
.stages label {
	background: #4CAF50;
	border: solid 5px #4CAF50;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	font-weight: 700;
	height: 50px;
	line-height: 50px;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: 50px;
	z-index: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*places a checkmark after the number label*/
.stages label:after {
	content: '\2713';
	color: white;
	background-color: #4CAF50;
	height: 10px;
	line-height: 50px;
	display: inline-block;
	font-size: 16px;
}

/* settings for the label which is checked*/
#one:checked ~ .stages label[for="one"],
#two:checked ~ .stages label[for="two"],
#three:checked ~ .stages label[for="three"],
#four:checked ~ .stages label[for="four"],
#five:checked ~ .stages label[for="five"] {
	border-color: #4CAF50;
	background : white;
	color : black;
	font-size: 1rem;
}

#one:checked ~ .stages label,
#two:checked ~ .stages label[for="two"] ~ label,
#three:checked ~ .stages label[for="three"] ~ label,
#four:checked ~ .stages label[for="four"] ~ label,
#five:checked ~ .stages label[for="five"] ~ label {
	font-size: 1rem;
	background: white;
}

#one:checked ~ .stages label:after,
#two:checked ~ .stages label[for="one"] ~ label:after,
#three:checked ~ .stages label[for="two"] ~ label:after,
#four:checked ~ .stages label[for="three"] ~ label:after,
#five:checked ~ .stages label[for="four"] ~ label:after {
	display: none;
}

.progress > span {
	background: #a0a0a0;
	display: inline-block;
	height: 5px;
	transform: translateY(-34px) translateX(12.5px);
	transition: 0.3s;
	width: 0;
}

#two:checked ~ .progress span {
	width: calc(95% / 4 * 1);
}

#three:checked ~ .progress span {
	width: calc(95% /4 * 2);
}

#four:checked ~ .progress span {
	width: calc(95% / 4 * 3);
}

#five:checked ~ .progress span {
	width: calc(95% / 4 * 4);
}

.panels .stepPanel{
	display: none;
}

#one:checked ~ .panels [data-panel="one"],
#two:checked ~ .panels [data-panel="two"],
#three:checked ~ .panels [data-panel="three"],
#four:checked ~ .panels [data-panel="four"],
#five:checked ~ .panels [data-panel="five"] {
	display: block;
}

/* For bye Requests*/
.requestTeam td{
	text-align: center;
}
.byeRequestCell{
	height: 1rem;
	display: inline-block;
}
.byeRequestCell[byeType="1"]{
	background-color: green;
	border-color: green;
}
.byeRequestCell[byeType="2"]{
	background-color: orange;
	border-color: orange;
}
#newByeBtn {
	content: '\002b';
	background-color: #4CAF50;
	border-color: black;
	border-style: solid;
	boder-radius: 2px;
	font-size: 1rem;
	color: white;
	border-radius: 0.6rem;
	height: 20px;
	width: 20px;
	position: relative;
	cursor: pointer;
	transition: 0.3s;
}
#newByeBtn[disabled], #newByeBtn[disabled]:hover{
	background-color: red;
}
#newByeBtn:hover {background-color: #3e8e41}
#newByeBtn:after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 10px;
  margin-top: -5px;
  top: 50%;
  left: 7px;
  right: 7px;
  z-index: 9;
}
#newByeBtn:before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  width: 10px;
  margin-left: -5px;
  left: 50%;
  top: 7px;
  bottom: 7px;
  z-index: 9;
}
