/*@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
* {
  box-sizing: border-box;
  position: relative;
}*/

.scheduleCalendar {
  font-family: Lato, sans-serif;
  font-weight: 300;
  background-color: #4075b7;
  display: inline-block;
  counter-reset: previous-month 29 current-month next-month;
  margin: 0;
  vertical-align: top;
  width: 49%;
}

header {
  color: white;
  background: rgba(88, 178, 164, 0.9);
}

.header-bar {
  width: 300px;
  height: 1rem;
}

.header-title {
  padding: 1rem;
}
.header-title h1 {
  width: 60%;
  display: inline-block;
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  transform: translateX(8%);
  text-shadow: 0px 0px;
}

.header-weekdays {
  height: 2rem;
}
.header-weekdays span {
  font-size: 0.8rem;
  display: inline-block;
  float: left;
  width: 14.28571%;
  padding: 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
}

.header-title span {
  width: 15%;
  height: 100%;
  display: inline-block;
  text-align: auto;
  padding: 0;
}

.header-title a {
  display: inline-block;
  padding: 8px 16px;
}

.header-title a:hover {
  background-color: #ddd;
  color: black;
}

.header-title .previous {
  background-color: #f1f1f1;
  color: black;
  transform: translateX(5%);
}

.header-title .next {
  background-color: #f1f1f1;
  color: black;
  transform: translateX(30%);
}

.header-title .round {
  border-radius: 50%;
}

.calendar:before,
.calendar:after {
  content: ' ';
  display: table;
}
.calendar:after {
  clear: both;
}
.calendar.inactive {
  pointer-events: none;
}
.calendarForm:before,
.calendarForm:after {
  content: ' ';
  display: table;
}
.calendarForm:after {
  clear: both;
}

.month {
  padding: 12px;
  font-size: 1rem;
  color: white;
  margin: 0;
  background: rgba(88, 178, 164, 0.9);
}

.day {
  float: left;
  width: 14.28571%;
  text-align: center;
  padding: 12px 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1;
  background: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  transition-property: background, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.day:after {
  display: block;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
.day[monthClass='current']:after {
  content: counter(current-month);
  counter-increment: current-month;
}
.day[monthClass='next']:after {
  content: counter(next-month);
  counter-increment: next-month;
}
.day[monthClass='last']:after {
  content: counter(previous-month);
  counter-increment: previous-month;
}
.day[monthClass='next'],
.day[monthClass='last'] {
  color: rgba(51, 51, 51, 0.3);
}
.day:last-of-type:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  width: 700%;
  height: 100%;
  background: white;
}
.day[leagueDay='true'] {
  background: blue;
  color: white;
  cursor: pointer;
}
.day[blackout='true'] {
  background: red;
  color: white;
  cursor: pointer;
}
.day[leagueDay='true']:hover,
.day ~ .day[leagueDay='true']:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}
.day,
~ .day,
.day:checked ~ .day:hover ~ .day,
.day:checked:hover ~ .day {
  background-color: white;
  color: #333;
}
.day.next-month,
~ .day:checked ~ .day.next-month,
.day:checked ~ .day:hover ~ .day.next-month,
.day:checked:hover ~ .day.next-month {
  color: rgba(51, 51, 51, 0.3);
}
.day:nth-child(7n + 1):after {
  transition-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.day:nth-child(7n + 2):after {
  transition-delay: 0.08571s;
  -webkit-animation-delay: 0.08571s;
  animation-delay: 0.08571s;
}
.day:nth-child(7n + 3):after {
  transition-delay: 0.17143s;
  -webkit-animation-delay: 0.17143s;
  animation-delay: 0.17143s;
}
.day:nth-child(7n + 4):after {
  transition-delay: 0.25714s;
  -webkit-animation-delay: 0.25714s;
  animation-delay: 0.25714s;
}
.day:nth-child(7n + 5):after {
  transition-delay: 0.34286s;
  -webkit-animation-delay: 0.34286s;
  animation-delay: 0.34286s;
}
.day:nth-child(7n + 6):after {
  transition-delay: 0.42857s;
  -webkit-animation-delay: 0.42857s;
  animation-delay: 0.42857s;
}
.day:nth-child(7n + 7):after {
  transition-delay: 0.51429s;
  -webkit-animation-delay: 0.51429s;
  animation-delay: 0.51429s;
}

@-webkit-keyframes check-active {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
    width: 0.5rem;
    height: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes check-active {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
    width: 0.5rem;
    height: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes check-inactive {
  50% {
    opacity: 1;
    width: 0.5rem;
    height: 0;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}
@keyframes check-inactive {
  50% {
    opacity: 1;
    width: 0.5rem;
    height: 0;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}
@-webkit-keyframes labels-inactive {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes labels-inactive {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes leftLabel-active {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes leftLabel-active {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes leftLabel-inactive {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes leftLabel-inactive {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes rightLabel-active {
  from {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
  }
}
@keyframes rightLabel-active {
  from {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
  }
}
@-webkit-keyframes rightLabel-inactive {
  to {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
  }
}
@keyframes rightLabel-inactive {
  to {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
  }
}
@-webkit-keyframes bg-active {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes bg-active {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes bg-inactive {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes bg-inactive {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes day-active {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes day-active {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.meta {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.2rem;
}
.meta p,
.meta a {
  color: rgba(255, 255, 255, 0.5);
}
.meta h1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 300;
  color: white;
}
.meta p {
  line-height: 1.4;
}
.meta a:hover {
  color: rgba(255, 255, 255, 0.7);
}
